@using System.Text.Json;
@using Microsoft.AspNetCore.Http;
@model Movie 

@{string list = Context.Session.GetString("Movies");
    List<Movie> movies = JsonSerializer.Deserialize<List<Movie>>(list); }

<form action="MovieAdd" method="post" />
Movie Title:
<input type="text" maxlength="50" name="Title" required />
<br />
Movie ID:
<input type="number" min="@(movies.Count+1)" max="@(movies.Count+1)" name="ID" required />
<br />
Movie Genre:
<select name="Genre" required />
<option value="Action">Action</option>
<option value="Comedy">Comedy</option>
<option value="Drama">Drama</option>
<option value="Fantasy">Fantasy</option>
<option value="Horror">Horror</option>
<option value="Mystery">Mystery</option>
<option value="Romance">Romance</option>
<option value="Thriller">Thriller</option>
<option value="Western">Western</option>
<select />
<br />
Year released:
<input type="date" min="1880-01-01" max="2020-12-31" name="Year" required />
<br />
Actors in movie:
<input type="text" name="Actors" required />
<br />
Directed by:
<input type="text" name="Directors" required />
<input type="submit" />
<form />
